*{
  margin: 0%;
  padding: 0%;  
}
.headline{
    height: 10vh;
    width: 100%;
    background-color: aliceblue;
}
.types{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.chocotalte{
    height: 15vh;
    width: 80%;
    background-color: brown;
}
.gummy{
    height: 15vh;
    width: 80%;
    background-color: pink;
}
.hardcandy{
    height: 15vh;
    width: 80%;
    background-color: plum;
}
.sour{
    height: 15vh;
    width: 80%;
    background-color: powderblue;
}